*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    display: flex;
    width: 100%;
    
}
ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    margin: auto;
    margin-left: 800px;
    margin-top: -868px;
    color: rgb(255, 255, 255);
}
ul li:hover {
    cursor: pointer;
    transition: cursor 2s;
  }
.text{
    margin: auto;
    margin-top: -30px;
    margin-left: 15px;
    color: white;
}
.intro{
    display: flex;
    justify-content: center;
    margin-top: 195px;
    font-size: xx-large;
    color: white;
}
.para{
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 370px;
    margin-left: 500px;
    margin-top: 15px;
    font-size: small;
    color: white;
}
.watch{ 
    margin: auto;
    margin-top: 30px;
    margin-left: 400px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    padding: 13px;
    background-color: rgba(31, 199, 177, 0.801);
    color: white;
    border: none;
}
.new{
    margin: auto;
    margin-left: 354px;
    margin-top: -32px;
    background: transparent;
    border: none;
    border: 2px solid rgba(31, 199, 177, 0.801);
    height: 42px;
    border-radius: 20px;
    color: white;
    width: 199px;
}
